# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @opengov/cloud-platform will be requested for review when
# someone opens a pull request.

*       @opengov/cloud-platform
